MrFriederichServer/MrFriederichServer/obj/Debug/MrFriederichServer.pdb
MrFriederichServer/MrFriederichServer/obj/Debug/MrFriederichServer.csprojResolveAssemblyReference.cache
MrFriederichServer/MrFriederichServer/obj/Debug/MrFriederichServer.csproj.FileListAbsolute.txt
MrFriederichServer/MrFriederichServer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MrFriederichServer/MrFriederichServer/bin/Debug/MrFriederichServer.vshost.exe.manifest
MrFriederichServer/MrFriederichServer/bin/Debug/MrFriederichServer.pdb
